/* Global ============================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* Imagens ========================================================= */
.titulo {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.slider {
    height: 250px;
    margin: auto;
    margin-top: 6rem;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slider-track {
    display: flex;
    width: calc(250px * 20);
    animation: scroll 30s linear infinite;
}

.slider-track:hover {
    animation-play-state: paused;
}

.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slide a, .slide img {
    width: 100%;
    transition: transform .7s;
}

a:hover {
    transform: translateZ(20px);
    cursor: pointer;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 10));
    }
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}


/* setas =================================== */

/* #setas-games {
    display: flex;
    justify-content: space-between;
}

#arrow-left, #arrow-right{
   margin: -14.6rem 1rem 14.6rem .7rem;
} */

/* animações ============================= */
@keyframes slide {
    0%{
        left: 0px;
    }
    10% {
        left: -277px;
    }
    20%{
        left: -554px;
    }
    30%{
        left: -831px;
    }
    40%{
        left: -1108px;
    }
    50%{
        left: -1385px;
    }
    60%{
        left: -1662px;
    }
    70%{
        left: -1939px;
    }
    80%{
        left: -2150px;
    }
    90% {
        left: 0px;
    }
    100% {
        left: 0px;
    }
}