/* Global ============================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* Imagens ========================================================= */

.container {
    display: flex;
    justify-content: space-between;
    margin-left: 6rem;
    position: relative;
    overflow: hidden;
    margin-right: 6rem;
    margin-top: 3rem;
}

.titulo {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.slider {
    display: flex;
    width: 2500px;
    height: 400px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.slider img {
    margin-right: 5rem;
    transition: .5s;
}

.slide {
    position: relative;
    animation: slide 20s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.slide img:hover {
    zoom: 102%;
}

/* setas =================================== */

/* #setas-games {
    display: flex;
    justify-content: space-between;
}

#arrow-left, #arrow-right{
   margin: -14.6rem 1rem 14.6rem .7rem;
} */

/* animações ============================= */
@keyframes slide {
    0%{
        left: 0px;
    }
    10% {
        left: -277px;
    }
    20%{
        left: -554px;
    }
    30%{
        left: -831px;
    }
    40%{
        left: -1108px;
    }
    50%{
        left: -1385px;
    }
    60%{
        left: -1662px;
    }
    70%{
        left: -1939px;
    }
    80%{
        left: -2150px;
    }
    90% {
        left: 0px;
    }
    100% {
        left: 0px;
    }
}