header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 100%;
    height: 4.3rem;
    box-shadow: 0 0 0.5rem 0 rgba(0,0,0,1);
}

.menu {
    font-size: 1.3rem;
    width: 100%;
    height: 1.3rem;
    margin-bottom: 0.6rem;
    z-index: 1;
}

.menu ul {
    list-style: none;
    position: relative;
    background: white;
    border-radius: 0.4rem;
}

.menu ul li {
    width: 150px;
}

.menu a {
    padding: 17px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-bottom: none;
    border-top: none;
}

.menu a:first-child {
    border-top: 1px solid black;
    border-bottom: none;
}

.menu a:last-child {
    border-bottom: 1px solid black;
    border-top: none;
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul{
    visibility: visible;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.3);
}

.menu a:hover {
    background-color: #DFDFDF;
    transition: 0.5s;
}
 
.logo {
    margin: 1.1rem;
}

.input-pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    margin: 2.5rem;
    border-radius: 2.5rem;
    height: 1.4rem;
}

/* Barra de pesquisa ==================================================== */

.search-txt {
    border: 1px solid;
    border-width: thin;
    background: none;
    outline: none;
    padding: 0;
    color: black;
    font-size: 16px;
}

.search-btn {
    border-radius: 50%;
}

.search-img {
    position: relative;
    right: 4rem;
    top: 0.1rem;
}

.search-txt:hover {
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.2);
}