* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

header {
    display: flex;
    background: white;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4.3rem;
    box-shadow: 0 0 0.5rem 0 rgba(0,0,0,1);
}

.menu {
    font-size: 1.3rem;
    height: 1.3rem;
    margin-bottom: 7%;
    z-index: 3;
    margin-right: 2px;
}

.menu ul {
    list-style: none;
    position: relative;
    background: white;
    border-radius: 0.4rem;
    margin-right: 2px;
}

.menu ul li {
    width: 100%;
}

.menu a {
    padding: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    border: .5px solid black;

}

.menu:hover {
    cursor: pointer;
}

.menu a:first-child {
    border-top: 1px solid black;
    border-bottom: none;
}

.menu a:last-child {
    border-bottom: 1px solid black;
    border-top: none;
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul{
    visibility: visible;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.3);
}

.menu a:hover {
    background-color: #DFDFDF;
    transition: 0.5s;
}

.logo {
    margin: .5rem 0 0 1.5rem;
}

.input-pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;

}

@media (max-width: 600px) {
    .logo img{
        width: 100px;
    }
    .menu img{
        width: 100px;
    }
    #simulador {
        width: 80px;
        margin-bottom: 4%;
    }
    .menu ul li {
        width: 100px;
    }
    .menu {
        font-size: .85rem;
    }
}

/* Barra de pesquisa ==================================================== */

/* .search-txt {
    border: 1px solid;
    border-width: thin;
    background: none;
    outline: none;
    padding: 0;
    color: black;
    font-size: 16px;
}

.search-btn {
    border-radius: 50%;
}

.search-img {
    position: relative;
    right: 4rem;
    top: 0.1rem;
}

.search-txt:hover {
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.2);
} */
