*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

#table {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    border: 1px solid black;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 2px;
    background: #fdfdfdda;
    box-shadow: 1px 1px 1px 2px rgb(0 0 0 / 0.50);
}

#mb, #stg, #pr, #ram {
    padding: 0.3rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight: 500;
}
