*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

#table {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    border: 1px solid black;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 0.8rem;
    background: #fdfdfdda;
    box-shadow: 1px 1px 1px 2px rgb(0 0 0 / 0.50);
}

#mb, #stg, #pr, #ram {
    padding: 0.3rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight: 500;
}

#voltar-profissional {
   display: flex;
   justify-content: center;
   margin: 5rem 0 0 0;
}

#voltar-profissional a {
    text-decoration: none;
    color: black;
    background: rgba(151, 151, 151, 0.212);
    padding: 1rem 1rem;
    border-radius: .8rem;
    border: 1px solid black;
    font-size: 1.1rem;
}

#voltar-profissional a:hover {
    zoom: 102%;
    background: rgba(151, 151, 151, 0.397);
}
