/* Global ============================================================ */
/*
body {
  background: white;
  overflow-x: hidden;
}

main {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* caixa de montagem */ 
/*#caixa {    
  display: flex;
  justify-content: row;
  position: relative;
  overflow: hidden;
  margin-right: 6rem;
  margin-top: 2rem;
  left: 45px;
  border-radius: 2px;
  flex-direction: row;
  background: #fdfdfdda;
  padding: 20px; 
  width: 350px;
  height: 400px;  
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.274);
}

#caixa h3{
  display: flex;
  justify-content: center;
  margin-left: 7.5rem;
}

#caixa img{
  position: absolute;
  margin: 2.5rem 0 0 0;
}

#caixa .medio{
  margin: 2.5rem 0 0 .3rem;
}

#caixa .tituloavançado{
  display: flex;
  justify-content: center;
  margin-left: 7.5rem;
}

#caixa .avancado{
  margin: 2.5rem .6rem 0 0;
}

#caixa input{
  margin: 13rem 0 0 6rem;
  position: absolute;
}

#caixa label{
  position: absolute;
  margin: 12.6rem 0 0 7.5rem;
}

#caixa p{
  position: absolute;
  margin: 16rem 0 0 -.8rem;
}

/* botão */

/*@media(min-width: 830px) {
    .caixas {
        display: flex;
        flex-direction: row;
    }
}*/

body {
  justify-content: center;
  overflow-x: hidden;
}

.caixas {
  display: grid;
  justify-content: row;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  grid-column: calc(1/2);
}

#caixa {
  max-width: 433px;
  min-width: 25%;
  justify-content: center;
  display: grid;
  margin: 15px 3% 0px 3%;
  border-radius: 2px;
  position: relative;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.274);
}

.caixas h3, #radio-button, .image, p {
  margin: 0px auto 0px auto;
}

.caixas p {
  font-size: 120%;
  margin-left: 3%;
  margin-right: 3%;
}

#container-botao {
  position: center;
  display: flex;
  justify-content: center;
}

.button {
  margin: auto;
  margin-top: 1rem;
  background-color:#979797;
  border-radius: 6px;
  border:1px solid #888888;
  cursor:pointer;
  color:#ffffff;
  width: 172px;
  padding:20px 50px;
  text-decoration:none;
  text-shadow:0px 1px 0px #000000;
  z-index: 1;
}

#warning{
  visibility: hidden;
  color:#ff0000;
}

#botao-warning {
  display: flex;
  justify-content: center;
}

#botao-warning .active {
  visibility: visible;
}

@media screen and (max-width: 1200px) {
  .caixas {
    flex-direction: column;
    margin: 20px auto auto auto;
  
  }

  #caixa {
    max-width: 300px;
    margin: auto;
    
  }
  
  .caixas .image {
    width: 90%;
  }
}