/* Global ============================================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background: white;
}

main {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Carousel =======================================================*/

.slider {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 5.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.slides {
    width: 500%;
    height: 800px;
    display: flex;
    margin-top: 3rem;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: 30rem;
    margin-left: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manual-btn{
    border: 2px solid rgb(83, 79, 79);
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 1rem;
}

.manual-btn:hover {
    background: black;
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 30rem;
    margin-left: 15rem;
}

.navigation-auto div {
    border: 2px solid;
    padding: 0.5rem;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 1rem;
}

#radio1:checked ~ .navigation-auto .auto.btn1 {
    background: gray;
}

#radio2:checked ~ .navigation-auto .auto.btn2 {
    background: gray;
}

#radio3:checked ~ .navigation-auto .auto.btn3 {
    background: gray;
}

#radio4:checked ~ .navigation-auto .auto.btn4 {
    background: gray;
}

/* caixa de montagem */ 
#box1 {
    position: absolute;
    top: 90px;
    left: 34px;
    border-radius: 2px;
    background: #fdfdfdda;
    padding: 20px; 
    width: 350px;
    height: 400px;  
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.274);
  }

#box2 {
    position: center;
    margin-top: 20px;
    border-radius: 2px;
    background: #fdfdfdda;
    padding: 20px; 
    width: 350px;
    height: 400px;  
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.274);
}

  #box3 {
    position: absolute;
    top: 90px;
    right: 34px;
    border-radius: 2px;
    background: #fdfdfdda;
    padding: 20px; 
    width: 350px;
    height: 400px;  
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.274);
  } 
/* posição do radio button */
  input[id="basico"]{ 
      position:fixed; 
      margin: 0px;
      left: 10.5%;
      top: 297px;
}

input[id="medio"]{ 
    position:fixed; 
    margin: 0px;
    left: 45%;
    top: 297px;
}

input[id="avançado"]{ 
    position:fixed; 
    margin: 0px;
    left: 79.7%;
    top: 297px;
}

/* botão */

.button {
    position: center;
    margin-top: 35px;
	background-color:#979797;
	border-radius:6px;
	border:1px solid #888888;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:20px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.button:hover {
	background-color:#888888;
}
.button:active {
	position:relative;
	top:1px;
}

/* arrumando o paragrafo da caixa */
p{
    margin-top: 15px;
}
 

