/* Global ============================================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background: white;
}

main {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* caixa de montagem */ 
#caixa {    
    display: flex;
    justify-content: row;
    position: relative;
    overflow: hidden;
    margin-right: 6rem;
    margin-top: 2rem;
    left: 45px;
    border-radius: 2px;
    flex-direction: row;
    background: #fdfdfdda;
    padding: 20px; 
    width: 350px;
    height: 400px;  
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.274);
  }

  #caixa h3{
      display: flex;
      justify-content: center;
      margin-left: 7.5rem;
  }

  #caixa img{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-left: -9.5rem;
  }

  #caixa .medio{
    display: flex;
    justify-content: center;
    margin-left: -10rem;
  }

  #caixa .tituloavançado{
    display: flex;
    justify-content: center;
    margin-left: 7.5rem;
  }

  #caixa .avançado{
    display: flex;
    justify-content: center;
    margin-left: -13rem;
  }

  #caixa input{
      display: flex;
      justify-content: center;
      margin-top: 12rem;
      margin-left: -12rem;
  }

  #caixa label{
      display: flex;
      justify-content: center;
      margin-top: 11.90rem;
      margin-left: -2rem;
  }

  #caixa p{
      display: flex;
      justify-content: center;
      margin-top: 15rem;
      margin-left: -13rem;
  }


/* botão */

.button {
    position: center;
    margin-top: 1rem;
    margin-left: -1rem;
	background-color:#979797;
	border-radius:6px;
	border:1px solid #888888;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    width: 200px;
	padding:20px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.button:hover {
	background-color:#888888;
}
.button:active {
	position:relative;
	top:1px;
}

#warning{
    position: center;
    margin-top: 1rem;
    margin-right: 1rem;
    color:#ff0000;
}

@media(min-width: 830px) {
    .caixas {
        display: flex;
        flex-direction: row;
    }
}



