/* Global ============================================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background: white;
}

main {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* caixa de montagem */ 
#box1 {
    position: absolute;
    top: 90px;
    left: 34px;
    border-radius: 2px;
    background: #fdfdfdda;
    padding: 20px; 
    width: 350px;
    height: 400px;  
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.274);
  }

#box2 {
    position: center;
    margin-top: 20px;
    border-radius: 2px;
    background: #fdfdfdda;
    padding: 20px; 
    width: 350px;
    height: 400px;  
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.274);
}

  #box3 {
    position: absolute;
    top: 90px;
    right: 34px;
    border-radius: 2px;
    background: #fdfdfdda;
    padding: 20px; 
    width: 350px;
    height: 400px;  
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.274);
  } 
/* posição do radio button */
  input[id="basico"]{ 
      position:fixed; 
      margin: 0px;
      left: 10.5%;
      top: 297px;
}

input[id="medio"]{ 
    position:fixed; 
    margin: 0px;
    left: 45%;
    top: 297px;
}

input[id="avançado"]{ 
    position:fixed; 
    margin: 0px;
    left: 79.7%;
    top: 297px;
}

/* botão */

.button {
    position: center;
    margin-top: 35px;
	background-color:#979797;
	border-radius:6px;
	border:1px solid #888888;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:20px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.button:hover {
	background-color:#888888;
}
.button:active {
	position:relative;
	top:1px;
}

/* arrumando o paragrafo da caixa */
p{
    margin-top: 15px;
}
 
@media(min-width: 1150px) {
    .caixas {
        display: flex;
        flex-direction: column;
    }
}

