* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

#title {
    background: rgba(128, 128, 128, 0.301);
    display: flex;
    justify-content: center;
}

#title p {
    font-size: 1.7rem;
}

#container {
    margin: 3rem 0 0 3rem;
}

#processador {
    display: flex;
    margin-bottom: 2rem;
}

#processador p {
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3rem 0 0 2.5rem;
    background: rgba(128, 128, 128, 0.301);
    width: 22rem;
    text-align: center;
    border-radius: 3.5rem;
    font-size: 1.1rem;
}

#processador .imagem-seta img{
    margin: 0.9rem 0 0 -2.5rem;
    width: 28px;
    height: 28px;
}

#processador ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.lista-simulador li{
    list-style: none;
    padding: .5rem 2.8rem 1.8rem 0;
}

#lista_processador li{
    list-style: none;
    padding: .5rem 2.8rem 1.8rem 0;
}

.menu-simulador ul ul {
    position: absolute;
    visibility: hidden;
    transition: .5s;
}

.menu-simulador ul li:hover {
    zoom: 103%;
    cursor: pointer;
}

.menu-simulador ul li:hover ul{
    visibility: visible;
    transition: .3s;
    padding: .5rem 0 0 0;
    z-index: 1;
}

.menu-simulador .lista-simulador {
    display: block;
    margin: 0 0 0 -24.5rem;
    border: 1px solid black;
    background: #fafbfc;
}

.menu-simulador #lista_processador {
    display: block;
    margin: 0 0 0 -24.5rem;
    border: 1px solid black;
    background: #fafbfc;
}

/* container do total das peças */

#total-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -26rem 0 0 30rem;
}

.total {
    background: rgba(128, 128, 128, 0.171);
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    width: 12rem;
    height: 5rem;
}

.total #texto-total {
    margin-top: 1rem;
    color: rgb(21, 138, 21);
    font-weight: 600;
}

.total #divisao {
    background: rgb(102, 228, 102);
    width: 100%;
    height: 3px;
}