* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

#title {
    background: rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: center;
}

#title h2 {
    font-weight: 550;
}

#container {
    margin: 3rem 0 0 3rem;
}

#processador {
    display: flex;
}

#processador p {
    margin: 0.4rem 0 0 1.8rem;
    background: rgba(128, 128, 128, 0.301);
    padding: 0.5rem 5rem 0.5rem 5rem;
    text-align: center;
    border-radius: 3.5rem;
    font-size: 1.1rem;
}
